BASE_URL=https://example.com
WEBID=https://example.com/webid
ISSUER=https://example.com
WHITELISTED_ISSUERS=https://issuer.example
WEBHOOK_CONFIG_URL=https://pod.example.com/settings/webhooks.ttl
HANDLER_BASE_URL=https://example.com/handlers#
SEND_TO_URL=https://example.com/webhook